@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: #3b3b3b;
}  

a {
  text-decoration: none;
  color: #3b3b3b;
}

li {
  list-style: none;
}

h1, h2, h3, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

/* header */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  background: white;
}
nav {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  padding: 1rem;
}
nav img {
  width: 120px;
}

/* main */
main {
  margin-top: 100px;
}

:host {
  display: block;
  margin-bottom: 5px;
  overflow: hidden;
}

/* custom element */
covid-country-search {
  width: 100%;
  margin-left: 1rem;
}
covid-country-input-search {
  width: 100%;
}

.covid-country-item {
  background: rgba(0,0,0,0.1);
  padding: 0.5rem;
  border-radius: 0;
  width: 100%;
  border: 0;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,0.03);
  font-size: 1rem;
  outline: 0;
  transition: background 0.3s;
}

.covid-country-item:hover {
  background: rgba(0,0,0,0.2);
}

.covid-country-search-list {
  position: absolute;
  top: 55px;
  left: 0;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 0;
  overflow-y: auto;
  max-height: 60vh;
  width: 100%;
  display: block;
}
.covid-country-search-list p {
  padding: 0 1rem;
}

.covid-country-search {
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  display: flex;
  transition: 0.5s;
}

.covid-country-search:hover {
  box-shadow: 0 0 0 2px rgba(0,0,0,0.3);
  transition: 0.5s;
}

.covid-country-search input {
  border: none;
  margin: 0.5rem;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.dropdown {
  display: none;
}
.dropdown.active {
  display: block;
}

.covid-box-board {
  margin: 0 20px;
  margin-top: 100px;
  z-index: 1;
  max-width: 600px;
  border-radius: 0.5rem;
  background: #F6F5F0;
  padding: 1rem;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}
.covid-box-board h2 {
  font-size: 2rem;
}
.covid-box-summary {
  display: flex;
  justify-content: space-between;
}

.covid-box-summary-item h5{
  font-size: 1.8rem;
  
}
.covid-box-summary-item h5 span{
  font-size: 1rem;
}
.covid-box-summary-item h3{
  font-size: 1.6rem;
}

.covid-box-summary-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  margin-bottom: 1rem;
}
.covid-box-summary-item.primary {
  background: #41a7ff;
}
.covid-box-summary-item.success {
  background: #32b336;
}
.covid-box-summary-item.danger {
  background: #ff0053;
}

.covid-box-summary {
  flex-direction: column;
}
@media screen and (min-width: 650px){
  .covid-box-board {
    margin: 0 auto;
    margin-top: 100px;
  }
  .covid-box-summary {
    flex-direction: row;
  }
  .covid-box-summary-item {
    margin-bottom: 0;
  }
  nav {
    padding: 1rem 0;
  }
}